.canvasContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  pointer-events: none;
}

.canvasContainer canvas {
  outline: none;
}

.glow {
  filter: drop-shadow(0 0 10px rgba(129, 102, 226, .7))
}
